# {{ ansible_managed }}
<IfModule mod_ssl.c>
	<VirtualHost _default_:443>
		Alias /nemonsdarkside /usr/share/phpmyadmin

		ServerName {{ inventory_hostname }}.sl.nemon

		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined

		SSLEngine on

		SSLCertificateFile /etc/apache2/ssl/nemonALL.crt
		SSLCertificateKeyFile /etc/apache2/ssl/nemonALL.key
		SSLCACertificateFile /etc/ssl/certs/rootCANEMON.pem

		<FilesMatch "\.(cgi|shtml|phtml|php)$">
				SSLOptions +StdEnvVars
		</FilesMatch>
		<Directory /usr/lib/cgi-bin>
				SSLOptions +StdEnvVars
		</Directory>

	</VirtualHost>
</IfModule>

<VirtualHost *:80>
    ServerName {{ inventory_hostname }}.sl.nemon
    Redirect / https://{{ inventory_hostname }}.sl.nemon/
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ inventory_hostname }}.public
    Redirect / https://{{ inventory_hostname }}.sl.nemon/
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ inventory_hostname }}
    Redirect / https://{{ inventory_hostname }}.sl.nemon/
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
