# {{ ansible_managed }}

127.0.0.1   localhost {{ inventory_hostname }}
::1         localhost {{ inventory_hostname }} ip6-localhost ip6-loopback
fe00::0     ip6-localnet
ff00::0     ip6-mcastprefix
ff02::1     ip6-allnodes
ff02::2     ip6-allrouters

10.175.203.2    sips.sl.nemon
82.223.234.4    nemon2ib

#ams
46.16.190.243   ams.public
10.104.251.131  ams
10.104.251.131  ams.sl.nemon

#ams2
159.8.248.196   ams2.public
10.136.35.187   ams2
10.136.35.187   ams2.sl.nemon

#ams3
169.50.172.99   ams3.public
10.175.203.2    ams3
10.175.203.2    ams3.sl.nemon
10.175.203.2	rabbitmq3.sl.nemon

#ams4
159.8.248.199   ams4.public
10.136.35.160   ams4
10.136.35.160   ams4.sl.nemon
10.136.35.160   rabbitmq4.sl.nemon

#ams5
169.50.172.102  ams5.public ams5-public.sl.nemon ams5.nemon2ib.com
10.175.203.3    ams5 ams5.sl.nemon rabbitmq5.sl.nemon

#ams7
37.58.110.15	ams7.public
10.70.97.216	ams7

#production1
37.58.110.154   production1.public
10.70.97.194    production1
10.70.97.194    production1.sl.nemon
37.58.110.154   test.public
10.70.97.194    test
10.70.97.194    test.sl.nemon

#portal 
46.16.190.242   portal.public
10.104.251.130  portal
10.104.251.130  portal.sl.nemon

#sips
37.58.110.155   sips.public
10.70.97.195    sips
159.8.248.203   sips2.public
10.136.35.190   sips2
158.177.124.23  sips3.public
10.85.202.86    sips3

#balancers
159.8.71.101    router.public
10.126.15.139   router
46.16.190.242   portal.public
10.104.251.130  portal
159.8.248.201   router2.public
10.136.35.189   router2
37.58.110.155   sips.public
10.70.97.195    sips
159.8.248.203   sips2.public
10.136.35.190   sips2

#VPN
159.8.71.100    routerbak.public
10.126.15.138   routerbak
10.126.15.138   logalty-service logalty-service.sl.nemon
10.126.15.138   logalty-service-test logalty-service-test.sl.nemon
10.126.15.138   vpn.sl.nemon

#reporting
10.135.205.10   reporting.sl.nemon
10.135.205.10   reporting
169.50.42.158   reporting.public

159.8.248.197   reporting2.public
10.136.35.186   reporting2
10.136.35.186   reporting2.sl.nemon

10.126.15.145   reporting3.sl.nemon
10.126.15.145   reporting3
159.8.71.106    reporting3.public

#omie
159.8.71.105    omie.public
10.126.15.144   omie
10.126.15.144   omie.sl.nemon

#api / logserver
10.144.113.34   api
159.122.160.34  api.public
10.144.113.34   api.sl.nemon
10.144.113.34   rabbitmq.sl.nemon
10.144.113.34   log
159.122.160.34  log.public
10.144.113.34   log.sl.nemon
10.175.203.3	rabbitmq5.sl.nemon
10.136.35.160	rabbitmq4.sl.nemon
10.175.203.2	rabbitmq3.sl.nemon

#FTP
10.126.15.139	ftp.sl.nemon

#SIPS SERVICE
10.126.15.138   sips-service.sl.nemon
#10.126.15.138   sips-service.sl.nemon
10.126.15.138   sips-status.nemon2ib.com